.color0{
        background-color: LightSteelBlue;
    }

.color1{
        background-color: LightBlue;
    }
    
.color2{
        background-color: Thistle;
    }
    
.color3{
        background-color: lightskyblue;
    }
