.dayclassnav{
    background-color: mediumpurple;
}

.abajo-pagina{
    position: absolute;
    bottom: auto;
}

.fondo-body{
    /*background-image: linear-gradient(white, white, mediumpurple);*/
    background-attachment: fixed;
}

.fill_fields{
    margin-top: 20px;
}

.light_txt{
    color: dimgray;
}