.color0{
        background-color: mediumspringgreen;
    }

.color1{
        background-color: orchid;
    }
    
.color2{
        background-color: darksalmon;
    }
    
.color3{
        background-color: lightskyblue;
    }