<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Connection settings -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/dayclass</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <!-- <property name="hibernate.connection.pool_size">1</property> -->
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <!-- Annotated entity classes -->
    <mapping class="Administrativo" package="com.cristian.dayclass"/>
    <mapping class="Alumno" package="com.cristian.dayclass"/>
    <mapping class="AlumnoCursoActual" package="com.cristian.dayclass"/>
    <mapping class="AlumnoCursoEstado" package="com.cristian.dayclass"/>
    <mapping class="Asistencia" package="com.cristian.dayclass"/>
    <mapping class="AsistenciaDia" package="com.cristian.dayclass"/>
    <mapping class="Cargo" package="com.cristian.dayclass"/>
    <mapping class="CargoProfesor" package="com.cristian.dayclass"/>
    <mapping class="CodigoAsistencia" package="com.cristian.dayclass"/>
    <mapping class="ContraseniaRestablecida" package="com.cristian.dayclass"/>
    <mapping class="Curso" package="com.cristian.dayclass"/>
    <mapping class="CursoDia" package="com.cristian.dayclass"/>
    <mapping class="CursoEstadoAlumno" package="com.cristian.dayclass"/>
    <mapping class="Division" package="com.cristian.dayclass"/>
    <mapping class="EstadoCargoProfesor" package="com.cristian.dayclass"/>
    <mapping class="HorarioCurso" package="com.cristian.dayclass"/>
    <mapping class="Institucion" package="com.cristian.dayclass"/>
    <mapping class="Justificativo" package="com.cristian.dayclass"/>
    <mapping class="JustificativoAsistencia" package="com.cristian.dayclass"/>
    <mapping class="Materia" package="com.cristian.dayclass"/>
    <mapping class="Modalidad" package="com.cristian.dayclass"/>
    <mapping class="NotificacionProfe" package="com.cristian.dayclass"/>
    <mapping class="ParamMinimoAsistencia" package="com.cristian.dayclass"/>
    <mapping class="Permiso" package="com.cristian.dayclass"/>
    <mapping class="Profesor" package="com.cristian.dayclass"/>
    <mapping class="ProgramaMateria" package="com.cristian.dayclass"/>
    <mapping class="TemaDia" package="com.cristian.dayclass"/>
    <mapping class="TemasMateria" package="com.cristian.dayclass"/>
    <mapping class="TiempoLimiteCodigo" package="com.cristian.dayclass"/>
    <mapping class="TipoAsistencia" package="com.cristian.dayclass"/>
    <mapping class="VigenciaSesion" package="com.cristian.dayclass"/>	
  </session-factory>
</hibernate-configuration>